<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Simple Todo App</title>
		<script src="https://unpkg.com/htmx.org@1.9.0" integrity="sha384-aOxz9UdWG0yBiyrTwPeMibmaoq07/d3a96GCbb9x60f3mOt5zwkjdbcHFnKH8qls" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
	</head>
	<body>
		<h1>Simple Todo App</h1>
		<div x-data="{}">
			<form 
				x-data
				id="new-todo"
				hx-post="/todo/new"
				hx-target="#todo-list"
				hx-swap="outerHTML"
				@todo-added.window="$el.reset()"
				>
				<input id="todo-text" type="text" name="todoText">
				<input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}" />
				<input type="submit" name="submit">
			</form>
			{#fragment id=todo_items}
			<ul id="todo-list">
				{#for item in items}
				{#fragment id=todo_item}
				<li>
					<div id="item-{item.id}">
						<form id="toggle-{item.id}"
							x-ref="toggle-{item.id}"
							hx-post="/todo/toggle-done"
							hx-swap="outerHTML"
							hx-target="#item-{item.id}">
							<input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}" />
							<input type="hidden" name="id" value="{item.id}">
						</form>
						<input type="checkbox" 
							@click="document.getElementById('toggle-{item.id}').requestSubmit()"
							{#if item.done}checked{/if}>
						<label>{item.task}</label>
					</div>
				</li>
				{/fragment}
				{/for}
			</ul>
			{/fragment}
		</div>	
		<script>
			document.body.addEventListener("htmx:beforeSwap", function(e) {
				if (e.detail.xhr.status === 200) {
					console.log(e);
					window.dispatchEvent(new CustomEvent('todo-added', { bubbles: true }));
				}
			})
		</script>
	</body>
</html>
